<div class="footer-container">
  <div class="footer">
    <div class="content">
      <ul class="footer-links">
        <a routerLink="/home"
          ><img src="../../../assets/imgs/brand/devsupply_icon.png" id="icon" />
        </a>
        <hr class="footer-hr" />

        <li><a routerLink="/about" id="footer-about">About</a></li>

        <li>
          <a
            href="https://github.com/hackherlin/devsupply"
            target="_blank"
            id="footer-gh"
            >GitHub</a
          >
        </li>

        <li>
          Made with <i class="fas fa-heart text-danger"></i>,&nbsp;
          <i class="fas fa-coffee text-warning"></i> and
          <span class="text-danger">Angular 7</span>
        </li>
      </ul>
    </div>
  </div>
</div>
