/* ################################################
Color definitions belong here
################################################ */

/* DARK */
$color-primary: #ffffff;
$color-accent: #fffd82;
$color-success: #51b34e;
$color-warning: #e6963b;
$color-danger: #ce4b4b;
$color-bg: #191d32;
$border: #000000;
$shadow: #000000;
$light-grey: #a3a0a0;
$grey: #2d3047;

/* LIGHT */
/* $color-primary: #000000;
$color-accent: #545de4;
$color-success: #51b34e;
$color-warning: #e6963b;
$color-danger: #ce4b4b;
$color-bg: #ffffff;
$black: #e0e0e0;
$light-grey: #000000;
$grey: #ebebeb;
 */
