/* ################################################
Color definitions belong here
################################################ */

$color-primary: #ffffff;
$color-accent: #6bb9a8;
$color-success: #51b34e;
$color-warning: #e6963b;
$color-danger: #ce4b4b;
$color-bg: #1f1e1e;
$black: #000000;
$light-grey: #a3a0a0;
$grey: #2e2b2b;
