<section class="header">
  <h1><span>DevSupply</span>Welcome, developer</h1>

  <h2>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure debitis earum
    quod hic maxime ratione cum iusto. Alias ipsum ipsa quaerat fuga fugiat
    dolore vel repudiandae vitae optio, quod cumque.
  </h2>
</section>

<section class="section">
  <div class="wrapper">
    <h2 class="section__title">EXPLORE</h2>
    <p class="section__intro">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi
      possimus repellendus minima numquam quaerat quia, nulla deserunt culpa
      inventore aliquam.
    </p>
    <div class="box__grid">
      <article class="box">
        <a class="box__content" routerLink="/resources"
          ><i class="fas fa-archive fa-3x"></i>
          <h3 class="box__title">Resources</h3>
          <p>
            Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris
            neque diam vulputate nem.
          </p>
          <span class="box__more"
            >Read more <i class="fa fa-arrow-right"></i
          ></span>
        </a>
      </article>
      <article class="box">
        <a class="box__content" routerLink="/blog"
          ><i class="fas fa-blog fa-3x"></i>
          <h3 class="box__title">Blog</h3>
          <p>
            Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris
            neque diam vulputate nem.
          </p>
          <span class="box__more"
            >Read more <i class="fa fa-arrow-right"></i
          ></span>
        </a>
      </article>
      <article class="box">
        <a class="box__content" routerLink="/templates"
          ><i class="fas fa-drafting-compass fa-3x"></i>
          <h3 class="box__title">Templates</h3>
          <p>
            Duis neque leo cursus ac libero ac imperdiet bibendum nisl mauris
            neque diam vulputate nem.
          </p>
          <span class="box__more"
            >Read more <i class="fa fa-arrow-right"></i
          ></span>
        </a>
      </article>
    </div>
  </div>
</section>
