<div class="nav">
  <div class="nav-brand">
    <a class="nav-link" routerLink="/home"
      ><span id="accent">Dev</span>Supply</a
    >
  </div>
  <div class="nav-content">
    <div class="nav-link-list">
      <a routerLink="/home" routerLinkActive="active" class="nav-link-item"
        ><i class="fas fa-home"></i
      ></a>

      <a routerLink="/resources" routerLinkActive="active" class="nav-link-item"
        ><i class="fas fa-archive"></i
      ></a>

      <a routerLink="/blog" routerLinkActive="active" class="nav-link-item"
        ><i class="fas fa-blog"></i
      ></a>

      <a routerLink="/templates" routerLinkActive="active" class="nav-link-item"
        ><i class="fas fa-drafting-compass"></i
      ></a>

      <a routerLink="/profile" routerLinkActive="active" class="nav-link-item"
        ><i class="fas fa-user"></i
      ></a>
    </div>
  </div>
</div>
