@import "../../../styles.scss";

.resources-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 30%;
}

.resources-item {
  margin: 20px;
  width: 30vw;
  height: 35vh;
  @include borderShadow();
  background: $grey;
  @include easeIn();

  &:hover {
    transform: scale(0.97);
    cursor: pointer;
    color: $color-accent;
  }

  .header {
    font-size: 1.5em;
    margin: 20px;
  }

  &:active {
    transform: scale(0.92);
  }
}
