<div class="resources-container">
  <div class="resources-item" routerLink="snippets">
    <div class="header">
      Snippets
    </div>
    <div class="content">
      <i class="fas fa-cut fa-10x"></i>
    </div>
  </div>
  <div class="resources-item" routerLink="examples">
    <div class="header">
      Examples
    </div>
    <div class="content">
      <i class="fas fa-paper-plane fa-10x"></i>
    </div>
  </div>
  <div class="resources-item" routerLink="tutorials">
    <div class="header">
      Tutorials
    </div>

    <div class="content">
      <i class="fas fa-clipboard-list fa-10x"></i>
    </div>
  </div>
</div>
